<div class="bImg">
    
      
      <h2 style="text-align:center; color: white;">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://phantom-marca.unidadeditorial.es/ff4a32c898f75401623d4e8a882d3af0/resize/828/f/webp/assets/multimedia/imagenes/2022/07/30/16591778851898.jpg" alt="Jane" style="width:100%; height: 17rem;">
            <div class="container">
              <h2>Cristiano Ronaldo</h2>
              <p class="title">CEO & Founder</p>
              <p>Striker</p>
              <p>cris@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltf7695f98c1f01bd9/62cbfb91c9db8842cf76cb5b/GHP_MESSI-BOOTS_16-9.jpg?quality=80&format=pjpg&auto=webp&width=1000" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Lionel Messi</h2>
              <p class="title">Art Director</p>
              <p>Central Midfielder</p>
              <p>leo@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://d3nfwcxd527z59.cloudfront.net/content/uploads/2020/10/21120838/Nemanja-Vidic-Manchester-United-1104x630.jpg" alt="John" style="width:100%">
            <div class="container">
              <h2>Nemanja Vidic</h2>
              <p class="title">Designer</p>
              <p>Central Defender</p>
              <p>nemanja@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
</div>

<form id="inputs">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label text-white">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>