<h3>We are offering you great food,drinks, etc...</h3>
<div class="d-flex m-4 ">
    <div class="d-flex">
        <img class="img1" src="https://cdn.pixabay.com/photo/2014/12/15/14/05/salad-569156_960_720.jpg" alt="">
        <p>How can you celebrate the holidays with your customers? What will inspire them to share, link, and tag you in the event content they post on their social channels? Create an event that's so special they can't resist to post about it — and bring their friends back next year.Examples: Halloween costume contests featuring giveaways or gifts, a different offering for each of the twelve days of Christmas, a Mother’s Day trivia event.Another surefire strategy is to heavily discount a section of your menu that’s filled with items that aren’t. </p>
    </div>

    <div class="d-flex">
        <img class="img2" src="https://cdn.pixabay.com/photo/2018/08/22/10/15/bottles-3623317_960_720.jpg" alt="">
        <p>A drink or beverage is a liquid intende for human consumption. In addition to their basic function of satisfying thirst, drinks play important roles in human culture. Common types of drinks include plain drinking water, milk, juice, smoothies and soft drinks. Traditionally warm beverages include coffee, tea, and hot chocolate. Caffeinated drinks that contain the stimulant caffeine have a long history.In addition, alcoholic drinks such as wine, beer, and liquor, which contain the drug ethanol, have been part of human culture for more than 8,000 years. </p>
    </div>
</div>
